<div class="header-wrapper" style="top:  0 !important;background: white;">
  <!-- Page Header -->
  <header id="masthead">
    <nav class="navbar navbar-top actTatoactivewXcf   " id="topnav" >
      
      <div class="navbar-brand">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <h1 class="brand">
            <a href="#/">
              SORIBA<span class="light">SOFT</span></a>
          </h1>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li class=""><a href="#/">Inicio</a></li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Soriba</a>                
                <ul class="dropdown-menu">
                  <li>
                    <a [routerLink]="['quienesomos']">Qui&eacute;nes Somos</a>
                  </li>                  
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Productos</a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="typography.html">Soriba ERP</a>
                  </li>
                  <li>
                    <a href="elements.html">Soriba Flores</a>
                  </li>
                  <li>
                    <a href="icons.html">Soriba N&oacute;mina</a>
                  </li>
                  <li>
                    <a href="tables.html">Soriba BI</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Servicios</a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="blog.html">Consultor&iacute;a Financiera</a>
                  </li>
                  <li>
                    <a href="timeline.html">Adaptaci&oacute;n de N&oacute;mina</a>
                  </li>
                  <li>
                    <a href="blog-fullwidth.html">Integraci&oacute;n de Facturaci&oacute;n Electr&oacute;nica</a>
                  </li>
                  <li>
                    <a href="post.html">Software a la medida </a>
                  </li>
                  <li>
                    <a [routerLink]="['tablauigrid']">TablaUiGrid</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Acceso Clientes</a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="portfolio-3col.html">Ingreso</a>
                  </li>
                  <li>
                    <a href="portfolio-4col.html">Atenci&oacute;n</a>
                  </li>
                  <li>
                    <a href="portfolio-item.html">Soporte en L&iacute;nea</a>
                  </li>
                  <li>
                    <a href="portfolio-3col-squared.html">Actualizaciones</a>
                  </li>
                </ul>
              </li>              
              <li class=""><a href="contact.html">Solicite Cotizaci&oacute;n</a></li>
              <li class=""><a href="contact.html">Contacto</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
  
</div>